{% extends 'base.html.twig' %}

{% block title %}Modifier un livre{% endblock %}

{% block body %}
    <h1>Modifier un livre</h1>

    {{  include('livre/_form.html.twig',  {'button_label': 'Modifier'}) }}

{% endblock %}
