{% extends 'base.html.twig' %}
{% block body %}
    <style>

    </style>
    
    <h1> formulaire ajout genre</h1>
    
    
    <div class="form-control">
        {{ form(formGenre) }}</br>


    </div>

{% endblock %}