{% extends 'base.html.twig'%}


{% block body %}
<style>
    .position_card{
        
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 10%;
    }

    .hauteur_card{
        margin-bottom: 18%;
    }


    
</style>
<div class="position_card">
    {% for livre in livres %}
        
        <div class="hauteur_card">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Titre : {{livre.titre}}</div>
                    <div class="card-body">
                        <h5 class="card-title">Nombre de pages :</h5>
                        <p class="card-text">{{livre.nbpages}}</p>
                        <h5 class="card-title">Note du livre :</h5>
                        <p class="card-text">{{livre.note}}</p>
                        <h5 class="card-title">Date de parution :</h5>
                        <p class="card-text">{{livre.getDateDeParution() | date('d/m/Y')}}</p>
                    </div>
            </div>
        </div>
        
    {% endfor  %}
</div>
 {% endblock %}